%h1 Pets#index
%p Find me in app/views/pets/index.html.haml

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Type
  %tbody
    %tr
      %td Bruno
      %td Dog
    %tr
      %td Pop
      %td Cat
    %tr
      %td Mickey
      %td Mouse
