%h1 Home#index
%p Find me in app/views/home/index.html.haml

= link_to "get button link", home_link_path, class: "btn", remote: true
= link_to "Pets report", "#", id: "pets_report", class: "btn btn-success"
